.hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    width: 100px; /* Adjust size as needed */
    height: 115px; /* Adjust size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #103B8C;
    color: white;
    margin: 0 auto; /* Center hexagons */
  }
  
  .hexagon:hover {
    transform: translateY(-5px);
  }
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .animate-float {
    animation: float 4s ease-in-out infinite;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .animate-pulse {
    animation: pulse 2s ease-in-out infinite;
  }